html,body{
	height: 100%;
	color: #fff;
}

.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(160, 120, 168);
}


[class*="__container"]{
	max-width: 640px;
	margin: 0 auto;
}

//* Scroll-bar
::-webkit-scrollbar{
	width: 20px;
}
::-webkit-scrollbar-track{
	background: rgb(84, 79, 79);
	border-radius: 0px 12px 0px 0px;
}
::-webkit-scrollbar-thumb{
	background: rgb(154, 142, 142);
	border-radius: 8px;
}


.main {
	width: 800px;
	height: 90vh;
	background: rgb(34, 33, 33);
	border-radius: 12px 12px 0px 0px;
	
	&.scroll{
		overflow-y: scroll;
	}

}

.header-main {

	&__body {
		margin-top: 50px;
		display: flex;
		justify-content: space-between;
	}

	&__title {
		font-size: 34px;
	}
}


.add-task{

	&__body{
		position: relative;
		width: 100%;
	}

	&__button{
		display: block;
		width: 100%;
		border: none;
		cursor: pointer;
		padding: 10px 25px;
		box-sizing: border-box;
		font-size: 18px;

		&:hover{
			color: rgb(171, 97, 202);

			&::before,
			&::after{
				background-color: #fff;
			}

			.add-task__cross{
				&::before{
					visibility: visible;
					opacity: 1;
				}
			}
		}

		&.active{
			display: none;
		}

		.add-task__cross{
			font-size: 24px;
			margin-right: 6px;
			position: relative;
			color: #fff;
			z-index: 1;
			
			&::before{
				content: '';
				position: absolute;
				width: 17px;
				height: 17px;
				border-radius: 100px;
				left: calc(50% - 9px);
				top: calc(50% - 8px);
				background: rgb(171, 97, 202);
				z-index: -1;
				visibility: hidden;
				opacity: 0;
			}
		}

		
	}

	&__form{
		margin-top: 10px;
		display: none;

		&.active{
			display: block;
		}
	}

	&__form-inner {
		border: 1px solid rgb(174, 156, 156);
		border-radius: 12px;
	}

	&__title {
		width: 100%;
		box-sizing: border-box;
		font-size: 20px;
		border: none;
		outline: none;
		padding: 10px 10px;
		background-color: rgb(34, 33, 33);
		color: #fff;
		border-radius: 12px;

		&::placeholder{
			color: rgb(140, 122, 122);
		}
	}

	&__description {
		width: 100%;
		height: 60px;
		box-sizing: border-box;
		resize: none;
		font-size: 16px;
		border: none;
		outline: none;
		padding: 5px 10px;
		background-color: rgb(34, 33, 33);
		color: #fff;
		border-radius: 12px;

		&::placeholder{
			color: rgb(123, 105, 105);
		}
	}

	&__buttons{
		width: 100%;
		display: flex;
		justify-content: flex-end;
		padding: 10px 0px;
	}

	&__cansel-button {
		padding: 5px 10px;
		border-radius: 6px;
		background-color: rgb(236, 229, 229);
		border: none;
		cursor: pointer;

		&:hover{
			background-color: rgb(210, 196, 196);
		}
	}

	&__add-button {
		margin-left: 12px;
		padding: 5px 10px;
		border-radius: 6px;
		background-color: rgb(191, 41, 41);
		color: #fff;
		border: none;
		cursor: pointer;

		&:hover{
			background-color: rgb(172, 33, 33);
		}
	}


}

.tasks {

	&__body {
		width: 100%;
		margin-top: 20px;
	}
}
.task {
	padding: 20px 0;
	border-bottom: 1px solid rgb(78, 78, 78);
	display: flex;
	justify-content: space-between;

	&__header{
		display: flex;
		align-items: flex-start;
	}

	&__checkbox {
	}

	&__title {
		margin-left: 10px;
		font-size: 20px;
		line-height: 24px;
		color: #fff;

		&.done{
			text-decoration: line-through;
			color: rgb(175, 162, 162);
		}
	}

	&__description {
		margin-left: 25px;
		font-size: 16px;
		line-height: 20px;
		color: rgb(218, 203, 203);
		word-wrap: break-word;
		max-width: 600px;
	}

	&__delete-button{
		background: none;
		border: none;
		font-size: 18px;
		color: #fff;
		cursor: pointer;
	}
}


.footer {
	width: 800px;
	background-color: rgb(34, 33, 33);
	border-radius: 0px 0px 12px 12px;

	&__body {
		display: flex;
		justify-content: space-between;
		box-sizing: border-box;
		padding: 15px 25px;
	}

	&__tasks-left {
		width: 100px;
		font-size: 18px;
	}

	&__sort-list {
		width: 100px;
		display: flex;
	}

	&__sort-category {
		cursor: pointer;
		font-size: 18px;
		box-sizing: border-box;
		padding: 5px 10px;
		border-radius: 6px;
		border: 1px solid rgb(34, 33, 33);

		&.active{
			border-color: rgb(166, 150, 150);
			background-color: rgba(228, 215, 215, .1);
		}
	}

	&__clear-button{
		text-align: right;
		width: 200px;
		cursor: pointer;
		background: none;
		border: none;
		color: #fff;
		font-size: 18px;

		&:hover{
			color: rgb(171, 97, 202);
		}
	}
}
